<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Blog</title>


</head>

<div>
  <div class="w3-top">
    <div class="w3-bar w3-theme-d2 ">
      <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2"
        href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
      <a href="/" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Plog</a>
      {% if current_user.is_authenticated %}
      <a href="{{url_for('auth.logout')}}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">SIGN OUT</a>
      {%else%}
      <a href="{{url_for('auth.login')}}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">SIGN IN</a>
      {%endif%}
      <a href="{{url_for('main.new_post',uname = current_user.username)}}"
        class="w3-bar-item w3-button w3-hide-small w3-hover-white">CREATE BLOG</a>
      <a href="#pricing" class="w3-bar-item w3-button w3-hide-small w3-hover-white"> SUBSCRIBE </a>
      {% if current_user.is_authenticated %}
      <a href="{{url_for('main.account',uname=current_user.username)}}"
        class="w3-bar-item w3-button w3-hide-small w3-hover-white">PROFILE</a>
      {%endif%}
      <div class="w3-dropdown-hover w3-hide-small">
        <button class="w3-button" title="Notifications">POSTS</button>
        <div class="w3-dropdown-content w3-card-4 w3-bar-block">
          <a class="w3-bar-item " href="{{url_for('main.post',category='life')}}" class="button fit">Blog</a>


        </div>
      </div>
    </div>



    {% block content %}
    <div class="container">
      <div class="row">
        <!-- displaying  Username-->
        <div class="col-md-4">
          <h3> {{user.username| capitalize}} </h3>

          <!--Displaying user bio-->
          {% if user.bio %}
          <p> {{user.bio}}</p>
          {%else%}
          <p> {{user.username| capitalize}} has no bio </p>
          {% endif %}
          {% if user == current_user %}
          <a href="{{url_for('main.update_profile',uname=user.username)}}">Edit profile</a>
          {% endif %}
        </div>

        <!--Display profile photo-->
        <div class="col-md-4">
          {% if user.profile_pic_path %}

          <img src="{{url_for('static',filename=user.profile_pic_path)}}" alt="" class="img-thumbnail">

          {%else%}
          <p>No profile picture</p>

          {% endif %}

          {% if user == current_user %}
          <form action="{{url_for('main.update_pic',uname=user.username)}}" method="post" enctype="multipart/form-data">

            <input type="file" name="photo" class="form-control" required>
            <input type="submit">
          </form>
          {% endif %}
        </div>
        <!------Update profile information---->


      </div>
    </div>
    {% endblock %}